.button{
    background-color: #007AFF;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }