.App{
    display: flex;
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;

    .wrapper{
      width:100%;

      .heroContent{
        padding: 15px;

        h1{
          font-size: 20px;
          color: #242731;
        }
      }
    }
  }

  .button{
    background-color: #007AFF;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }