.container{
    height:70px;
    background-color: #fff;
    width:100%;
    

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px inset, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .userIcon{
        display: flex;
        gap: 5px;
        padding-right: 10px;
        font-weight: 500;

        cursor: pointer;
    }

    .searchBar{
        height:35px;
        width:500px;
        border-radius: 20px;
        border: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 0px 0px 0px inset;
        padding-left: 10px;
    }
}